body{
    background-color: black;
}

.to-do-list{
    font-family: Arial,  sans-serif;
    text-align: center;
    
}

h1{
    font-size: 4rem;
    color: white
}
button{
    font-size: 1.7 rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5ease;
} 
.add-button{
    background-color:hsl(125, 47%, 54%);
}
.add-button:hover{
    background-color: hsl(125, 47%,54%) ;
}

.delete-button{
    background-color:hsl(0, 47%, 54%);
}
.delete-button:hover{
    background-color: hsl(10, 47%, 54%) ;
}

.move-button{
    background-color:hsl(245, 89%, 39%);
}
.move-button:hover{
    background-color: hsl(249, 95%, 23%) ;
}
input[type='text']{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 80%, 0.5%),;
    border-radius:5px;  
    
}

ol{

    padding: 0;
}
li{
     font-size: 2rem;
     font-weight: bold;
     padding: 15px;
     background-color:aliceblue;
     display: flex;
     align-items: center;
}

.text{
    flex: 1;
}

.delete-button, .move-button{
    padding: 8px 12px;
    font-size: 1.4rem;

}
